/********** styles.css **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
}

.col-lg-4 .box {
  position: absolute;
  left: 6%;
  width: 90%;
  height: 245px;
  border: 1px solid black;
  background-color: lightgreen;  
}

h2 {
  text-align: center;
  font-size: 1.25em;  
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.row p {
  margin: 40px 15px 10px 15px;
  padding: 5px;
}

.label {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 5px 15px;
  font-weight: bold;
  border: 1px solid black;
  height: 35px;
  width: 150px;
}

.chicken {
  background-color: deeppink;
}

.beef {
  background-color: chocolate;
}
.sushi {
  background-color: lightgoldenrodyellow;
}

/********** Large devices only **********/
/* The browser should display a desktop version of the site when the width of the browser window is 992px and above. */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
    position: relative;
    background-color: white;
    color: black;
    height: 250px;        
  }
}

/********** Medium devices only **********/
/* Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    background-color: white;
    color: black;
    height: 250px;
    margin-bottom: 30px;
  }
}

/********** Small devices only **********/
/* Layout: In the mobile view (equal to or less than 767px), each section should take up the entire row. */
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
    position: relative;
    background-color: white;
    color: black;
    height: 250px;
    margin-bottom: 30px;
  }
}
